.sidebar ul li {
  padding-left: 2.5rem;
  padding-top: 1rem;
}

.sky-background {
  background-color: #c1edff;
}
.activated{
  background-color: #b4d7e6;
}
.list-group li:hover {
  background-color: #b4d7e6;
}

.sidebar .list-group-item {
  cursor: pointer;
}

.card {
  cursor: pointer;
}

